version: ~> 1.0
dist: focal
language: python


script:
  - make test

python:
  - 3.10
  - 3.11
  - 3.12
  - 3.13
    script:
      - make test
      # 開発環境と同じバージョンではlintを実行する
      - make lint

install:
  # pipをアップグレードする理由: pipのバージョンが古いと、pillowなど環境ごとにwheelを提供しているライブラリのインストールに失敗する可能性があるため
  - pip install pip --upgrade
  - pip install 'poetry<1.8'
  # travis_retryを使う理由: インストール時にtimeoutで失敗しないようにするため
  - travis_retry poetry install

branches:
  only:
  - main
env:
  # `poetry install`時に`Max retries exceeded with`が発生しないようにするため、タイムアウト時間を指定する
  - PIP_DEFAULT_TIMEOUT=300
